@{
    ViewBag.Title = "Hacerca de mi";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Me llamo Kevin Daniel Martha Acosta y tengo 20 años</p>
</main>