@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
       AV. independencia N° 95<br />
        La trinidad<br />
        <abbr title="Telefono">P:</abbr>
        687.165.2446
    </address>

    <address>
        <strong>Personal:</strong>   <a href="kevindanielmarthaacosta@gmail.com">kevindanielmarthaacosta@gmail.com</a><br />
        <strong>intitucional:</strong> <a href="23030505@UADEO.mx">Uadeo</a>
    </address>
</main>